.animecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/animebackground.jpg);
    background-size: cover;
}

.animeimg {
    height: 30vh;
}

.iconcontainer {
    position: relative;
}

.hpicon {
    position: absolute;
    right: 20px;
}

.scoring {
    font-size: larger;
}

.answerinput {
    padding: 5px;
    border-radius: 10px;
}

.returnarrow {
    height: 50px;
    position: absolute;
    left: 5px;
    top: 5px;
}