* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  

  .flip-card-back {
    background-color: #14131a;
    color: white;
    transform: rotateY(180deg);
  }

  .coverimage {
    height: 30vh;
  }

.homepagebody {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181b2e;
    gap: 100px;
}

.wholepage {
    background-color: #181b2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.homepage-title {
    color: white;
    text-align: center;
}

.playlink {
    
    text-decoration: none;
    background-color: greenyellow;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

.flip-card-back h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}